<% title "Query" %>

<div class="query">
  <strong>Terms:</strong>
  <%=h @query.terms %>
  <div class="results">
    <% @query.results.each do |result| %>
      <%= result.visible_uri %><br/>
      <div class="emails">
        <% result.emails.each do |email| %>
          <%= mail_to email.address %><br/>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>

<p>
  <%= link_to "Edit", edit_query_path(@query) %> |
  <%= link_to "Destroy", @query, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", queries_path %>
</p>
