<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;. charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <title><%= h(yield(:title) || "Untitled") %></title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/>
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body id="<%= controller_name %>">
    <div class="container showgrid">
      <%= render :partial => '/layouts/header' %>
      <!-- 2 column layout -->
      <div class="span-18 maincol">
        <%= flash_messages %>
        <%= yield  %>
      </div>
      <div class="span-6 sidecol last">
        <!-- Sidebar -->
      </div>
      <%= render :partial => "/layouts/footer" %>
      <%= render :partial => "/layouts/analytics" %>
    </div>
  </body>
</html>
